<body>
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar  </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Ana Sayfa </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  aria-current="page" href="" >Hakkımızda</a>
        </li>
<li>
  <app-fav-summary></app-fav-summary>
</li>

       
      </ul>

      <div *ngIf="!isAuthenticated()">
        <form class="d-flex">
          <button
            class="btn btn-outline-dark rounded-pill"
            type="submit"
            (click)="login()"
          >
            Giriş Yap
          </button>
          <button
            class="btn btn-outline-dark  rounded-pill"
            type="submit"
            (click)="register()"
          >
            Üye Ol
          </button>
        </form>
      </div>
      <div class="dropdown" *ngIf="isAuthenticated()">
        <a class="btn btn-secondary dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ authService.fullName }}
        </a>
       <ul *ngIf="authService.role=='admin'" class="dropdown-menu">
          <li><a  (click)="trainerAdd()" class="dropdown-item" >Eğitmen Ekle</a></li>
          <li><a  (click)="userAdd()" class="dropdown-item" >Kullanıcı Ekle</a></li>
          <li><a  (click)="changeUserPassword()" class="dropdown-item" >Şifrenizi Değitirin</a></li>
           <!-- <li><a  routerLink="register" class="dropdown-item" >Kullanıcı Ekle</a></li>//sahte bir kullanıcı ekleme yeri oluştur  -->
          <li><a  (click)="logout()" class="dropdown-item" >Çıkış Yap</a></li>
        </ul>
        <ul *ngIf="authService.role=='trainer'" class="dropdown-menu">
          <li><a  class="dropdown-item" (click)="trainerProfile()">Profile  </a></li>
          <li><a  class="dropdown-item" (click)="trainerUpdate()">Profile Düzenle </a></li>
          <li><a  (click)="changeTrainerPassword()" class="dropdown-item" >Şifrenizi Değitirin</a></li>
          <li><a  (click)="logout()" class="dropdown-item" >Çıkış Yap</a></li>
        </ul>
        <ul *ngIf="authService.role=='user'" class="dropdown-menu">
          <li><a class="dropdown-item" (click)="userProfile()" >Profile</a></li>
          <li><a class="dropdown-item" (click)="userUpdate()" >Profile Düzenle</a></li>
          <li><a  (click)="changeUserPassword()" class="dropdown-item" >Şifrenizi Değitirin</a></li>
          <li><a  (click)="logout()" class="dropdown-item" >Çıkış Yap</a></li>
        </ul>
       
      </div>
    </div>
  </div>
</nav>
</body>