<div class="row justify-content-center ">
  <div class="col-md-6 ">
    <div class="card form-card ">
      <div class="">
        <h5 class="title update-title">
          <i class="fa-solid fa-pen-nib"></i> <b>GÜNCELLE</b></h5>
          <hr>
      </div>
      <div class="card-body">
        <form [formGroup]="userUpdateForm">
          <!-- <div class="mb-3" hidden>
            <label for="userId">Eğitmen Adı</label>
            <div class="form-group">
              <input
                type="number"
                id="userId"
                formControlName="userId"
                class="form-control"
                placeholder="Eğitmen Adı"
              />
            </div>
          </div> -->
          <div class="mb-3">
            <label for="userName">Eğitmen Adı</label>
            <div class="form-group">
              <input
                type="text"
                id="userName"
                formControlName="userName"
                class="form-control"
                placeholder="Eğitmen Adı"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="userSurname">Eğitmen Soyadı</label>
            <div class="form-group">
              <input
                type="text"
                id="userSurname"
                formControlName="userSurname"
                class="form-control"
                placeholder="Eğitmen Soyadı"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="userEmail">Eğitmen Email</label>
            <div class="form-group">
              <input
                type="email"
                id="userEmail"
                formControlName="userEmail"
                class="form-control"
                placeholder="Eğitmen Email"
              />
            </div>
          </div>

          <div class="mb-3" hidden>
            <label for="userPasswordHash">Password Hash</label>
            <div class="form-group">
              <input
                type="text"
                id="userPasswordHash"
                formControlName="userPasswordHash"
                class="form-control"
                placeholder="Password Hash"
              />
            </div>
          </div>
          <div class="mb-3" hidden>
            <label for="userPasswordSalt">Password Salt</label>
            <div class="form-group">
              <input
                type="text"
                id="userPasswordSalt"
                formControlName="userPasswordSalt"
                class="form-control"
                placeholder="Password Salt"
              />
            </div>
          </div>
          <div class="mb-3" hidden>
            <label for="status">Eğitmen Şifre</label>
            <div class="form-group">
              <input
                type="password"
                id="status"
                formControlName="status"
                class="form-control"
                placeholder="Eğitmen Şifre"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="">
        <button class=" btn btn-update mx-3 " (click)="updateUser()">
          Güncelle
        </button>
        <button class="btn  btn-delete" routerLink="/">X İptal</button>
        <!-- <button class="btn btn-fill btn-danger mb-2 me-2 " routerLink="/users">İptal</button> -->
      </div>
    </div>
  </div>
</div>
