<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


<div *ngIf="dataLoaded" class="card mt-3" >
 
  <div class="row g-0">
    <div class="col-md-4">
      <img  class="img-fluid"  *ngFor="let image of userDetail.images" width="256" height="256" src="{{image ? 'data:image/jpg;base64,' + image :''}}" alt="none">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{userDetail.userName}} {{userDetail.userSurname}}</h5>
      
        <p class="card-text ">{{userDetail.userEmail}}</p>
        <button class=" btn btn-update  " routerLink="/users/update/{{userDetail.userId}}" >
          Güncelle
        </button>
        <button class=" btn btn-update mx-3 " routerLink="/users/user/userchangepassword/{{userDetail.userId}}">
         Şifreni Değiştir
        </button>
      </div>
    </div>
  </div>
 <div class="less-table">
  <h4><i class="fa-sharp fa-solid fa-graduation-cap"></i>ALINAN DERSLER</h4>
  <hr class="a">

  <div  *ngFor="let payment of paymentsDetail" >
    <div class="card a-table mt-5">    
      <div class="card-body">
        <h5 class="card-title" style="display: inline-block; " >  <i class="fa-solid fa-check correct"></i> {{payment.trainerFullName}} </h5> adlı eğitmenden {{payment.lessonName}} dersi satın alındı.
        <p class="card-text" > <span style="text-transform:uppercase ;"> {{payment.userFullName}} </span> isimli ve <span style="text-decoration:line-through solid rgb(211, 209, 209) 8px;"> {{payment.creditCardNumber}}</span> numaralı kartınız ile şu tarihte {{payment.paymentDate}} toplamda  <b>  {{payment.total}}</b> <i class="fa-solid fa-turkish-lira-sign"></i> ödeme yapıldı. </p>   
      <button class="btn ty"  > <p > Teşekkür Ederiz..<i class="fa-solid fa-heart "></i></p>  <i style="display:none;" class="x fa-solid fa-face-smile"></i></button>
      </div>
    </div>
   

  </div>
</div>
</div>

