div.card{
    border:none;
}
img{
    border-radius: 10px;
}
button.btn-update{
  
    background-color:#14463A ;
    border-color:#14463A ;
    color: #fff;
 
}
button.btn-update:hover{
background-color: #fff;
color: #14463A;
}