<body class="container">
  
  <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div *ngIf="dataLoaded" >
    <div class="row" > 
      <div class="col-4">
    <div class="card trainer-card" style="width: 18rem;">
      <img *ngFor="let image of trainerDetail.images"  src="{{image ? 'data:image/jpg;base64,' + image : ''}}" alt="none">
      <div class="card-body">
        <h5 class="card-title" ><i class="fa-solid fa-user card-icon"></i>&nbsp; {{trainerDetail.trainerName}} &nbsp; {{trainerDetail.trainerSurname}}</h5>
        <p class="card-text"><i class="fa-solid fa-envelope card-icon"></i> &nbsp; {{trainerDetail.trainerEmail}}</p>
        <p class="card-text" ><i class="fa-solid fa-building-columns card-icon" ></i>&nbsp; {{trainerDetail.trainerSchool}}</p> 
        <p class="card-text" ><b>{{trainerDetail.trainerBranch}}</b> Bölümü</p> 
        <p   class="card-text " > Saatlik Ücret: <b> {{trainerDetail.trainerWage}}</b> <i class="fa-solid fa-turkish-lira-sign"></i> </p>
        <button *ngIf="authService.role=='user'||authService.role=='admin' " (click)="addToFav(trainerDetail)" type="button" class="btn btn-fav"> <i class="fa-solid fa-heart"></i></button>
        <button *ngIf="authService.role=='user' || authService.role=='admin'"  class="btn btn-delete" (click)="navigateAddToCard()">Satın Al <i class="fa-solid fa-thumbs-up"></i></button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
   
    <div class="card info" >
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-circle-info"></i> &nbsp; Ders Hakkında </h5>
        <p class="card-text">{{trainerDetail.aboutLessInfo}}</p>
      
      </div>
    </div>
     <div class="card info" >
      <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-circle-info"></i> &nbsp; Eğitmen Hakkında </h5>
        <p class="card-text">{{trainerDetail.trainerAbout}}</p>
      
      </div>
    </div> 
    <div class="row mb-5">
      <div class="col">
        <div class="card small-card" >
          <div class="card-body">
          
            <p class="card-title">  <i class="fa-solid fa-bookmark smallc-icon"></i> <b> &nbsp;{{trainerDetail.educationName}}</b>  </p>
            <p class="card-text"></p>
          
          </div>
        </div> 
      </div>
      <div class="col">
        <div class="card small-card" >
          <div class="card-body">
          
            <p class="card-title ">  <i class="fa-solid fa-user-group smallc-icon"></i> &nbsp; <b> {{trainerDetail.formOfEduName}} </b></p>
           
          </div>
        </div> 
      </div>
      <div class="col">
        <div class="card small-card " >
          <div class="card-body">
           
            <p class="card-title"> <i class="fa-sharp fa-solid fa-location-dot smallc-icon"></i>  &nbsp; <b> {{trainerDetail.addressName}} </b></p>
            <p class="card-text"></p>
          </div>
        </div> 
      </div>
    </div>
   
    <div class="text-end">
    <button *ngIf="authService.role=='trainer' || authService.role=='admin'" class="btn btn-update " (click)="navigateUpdate()"><i class="fa-solid fa-pen-nib"></i>Güncelle</button>
   
    <button type="button" class="btn btn-delete " *ngIf="authService.role=='admin'" (click)="navigateDelete()"><i class="fa-solid fa-trash"></i>Sil</button>
    
  </div>
  </div>
  </div>
 
</div>

</body>




<!-- //addressname, formOfEduName, eduName -->