<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Eğitmen Ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="trainerAddForm">
          <div class="mb-3">
            <label for="trainerName">Eğitmen Adı</label>
            <div class="form-group">
              <input
                type="text"
                id="trainerName"
                formControlName="trainerName"
                class="form-control"
                placeholder="Eğitmen Adı"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerSurname">Eğitmen Soyadı</label>
            <div class="form-group">
              <input
                type="text"
                id="trainerSurname"
                formControlName="trainerSurname"
                class="form-control"
                placeholder="Eğitmen Soyadı"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerPhone">Eğitmen Tlf</label>
            <div class="form-group">
              <input
                type="text"
                id="trainerPhone"
                formControlName="trainerPhone"
                class="form-control"
                placeholder="Eğitmen Tlf"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerEmail">Eğitmen Email</label>
            <div class="form-group">
              <input
                type="email"
                id="trainerEmail"
                formControlName="trainerEmail"
                class="form-control"
                placeholder="Eğitmen Email"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerPassword">Eğitmen Şifre</label>
            <div class="form-group">
              <input
                type="password"
                id="trainerPassword"
                formControlName="trainerPassword"
                class="form-control"
                placeholder="Eğitmen Şifre"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerDate">Eğitmen Doğum Tarihi</label>
            <div class="form-group">
              <input
                type="date"
                id="trainerDate"
                formControlName="trainerDate"
                class="form-control"
                placeholder="Eğitmen Doğum Tarihi"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerGender">Eğitmen Cinsiyet</label>
            <div class="form-group">
              <input
                type="text"
                id="trainerGender"
                formControlName="trainerGender"
                class="form-control"
                placeholder="Eğitmen Cinsiyet"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerBranch">Eğitmen Branşı</label>
            <div class="form-group">
              <input
                type="text"
                id="trainerBranch"
                formControlName="trainerBranch"
                class="form-control"
                placeholder="Eğitmen Branşı"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerSchool">EğitmenMezun Okulu</label>
            <div class="form-group">
              <input
                type="text"
                id="trainerSchool"
                formControlName="trainerSchool"
                class="form-control"
                placeholder="Eğitmenin Mezun Okulu"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="trainerAbout">Eğitmen Hakkında</label>
            <div class="form-group">
              <input
                type="text"
                id="trainerAbout"
                formControlName="trainerAbout"
                class="form-control"
                placeholder="Eğitmen Hakkında"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="aboutLessInfo">Ders Hakkında</label>
            <div class="form-group">
              <input
                type="text"
                id="aboutLessInfo"
                formControlName="aboutLessInfo"
                class="form-control"
                placeholder="Ders Hakkında.."
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="addressId">Adres</label>
            <div class="form-group">
              <select
                [(ngModel)]="selectedAddress"
                class="form-control"
                formControlName="addressId"
                class="form-select"
              >
                <option value="0">Seç</option>
                <option
                  *ngFor="let address of addresses"
                  [ngValue]="address.id"
                >
                  {{ address.addressName }}
                </option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="trainerWage">Saatlik Ücret</label>
            <div class="form-group">
              <input
                type="number"
                id="trainerWage"
                formControlName="trainerWage"
                class="form-control"
                placeholder="Saatlik Ücret"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="formOfEduId">Adres</label>
            <div class="form-group">
              <select
                [(ngModel)]="selectedFormOfEdu"
                class="form-control"
                formControlName="formOfEduId"
                class="form-select"
              >
                <option value="0">Seç</option>
                <option
                  *ngFor="let formOfEdu of formOfEdus"
                  [ngValue]="formOfEdu.id"
                >
                  {{ formOfEdu.formOfEduName }}
                </option>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="educationId">Adres</label>
            <div class="form-group">
              <select
                [(ngModel)]="selectedEducation"
                class="form-control"
                formControlName="educationId"
                class="form-select"
              >
                <option value="0">Seç</option>
                <option
                  *ngFor="let education of educations"
                  [ngValue]="education.id"
                >
                  {{ education.eduName }}
                </option>
              </select>
            </div>
          </div>
          <!-- <div class="mb-3">
            <label for="file">Image</label>
            <div class="form-group">
              <input type="file" name="file" id="file" class="form-control" formControlName="file">
            </div>
          </div> -->
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
      </div>
    </div>
  </div>
</div>
