h5.add-title, h5 i{
    color: #14463A;
    font-size: 25px;  
}
.form-card{
    border: none;
}
button.btn-add{
  
    background-color:#14463A ;
    border-color:#14463A ;
    color: #fff;
 
}
button.btn-add:hover{
background-color: #fff;
color: #14463A;
}
.btn-back:hover{
  
    background-color:#ffff ;
    border-color:#C78561 ;
    color: #C78561;
 
}
.btn-back{
    background-color: #C78561;
    color: #ffff;
    
}
label{
    font-weight:bold; 
} 
.form-control, .form-select{
    box-shadow: 2px 1px 5px rgb(207, 206, 206);
    border:2px solid #C78561;
}
input{
    width:50%;
}