li{
    border:none;
    
}

li.x{ 
   color: #ffff;
   background-color: #245E52;
    margin-top: 50px;
    margin-bottom: 20px;
}
li:nth-child(2n + 1):hover{
    background-color: #245E52;
    color: #ffff;
    border-radius: 10px;
    border:none;
}
li:nth-child(2n):hover{
    background-color: #245E52;
    color: #ffff;
    border-radius: 10px;
    border:none;
}
