div.form-floating input{
 border:1.5px solid #CC8264;


}
h1,i{
  text-shadow: 1px 1px 3px #C78561;
  color: #fff;
}
.btn-login{
  background-color: #C78561;
  color: #fff;
  margin-top: 30px;
}
.btn-login:hover{
  background-color: #fff;
  color: #C78561;
  
}
.user-login{
 
  border-radius: 10px;
  background-color: #F0E8DB;
  padding: 20px;
  box-shadow: 2px 2px 7px rgb(225, 225, 225);
 
}