<div *ngIf="dataLoaded" class="card">
    <div class="card-body">
     <div class="row">
        <div class="col-md-4">
            <img *ngFor="let image of user.images"  class="img-fluid rounded-start" src="{{image ? 'data:image/jpg;base64,' + image : ''}}" alt="none">
        </div>
        <div class="col-md-8">
         <div class="">
            <p class="card-text">
                {{user.userName}} {{user.userSurname}} adlı kullanıcıyı silmek istediğinizden emin misiniz?
            </p>
         </div>
        </div>
     </div>
       <div class="row "> 
            <div class="d-flex justify-content-end">
              <button (click)="deleteUser()" type="button" class="btn  btn-delete me-2">  <i class="fa-solid fa-trash"></i>Sil</button>
              <button (click)="closeUserDeleteModal()" type="button" class="btn btn btn-cancel">İptal</button>
          </div>
        </div>
       
    
    </div>
  </div>
 