<div class="col-md-6 mt-4" style=" margin: auto;" >
  <h5><i class="fa-solid fa-key"></i> Şifreni Değiştir</h5>
    <form [formGroup]="updatePasswordForm">
      <div class="mb-3">
        <label for="trainerEmail" class="form-label">trainerEmail Adresi</label>
        <input type="email" class="form-control" id="trainerEmail" placeholder="example@example.com" formControlName="trainerEmail" />
      </div>
      <div class="mb-3">
        <label for="OldPassword" class="form-label"> Eksi Şifre</label>
        <input type="password" class="form-control" id="OldPassword" placeholder="***" formControlName="OldPassword" />
        <!-- <input type="checkbox" onclick="myFunction()">Show Password -->
    </div>
      <div class="mb-3">
        <label for="NewPassword" class="form-label"> Şifre</label>
        <input type="password" class="form-control" id="NewPassword" placeholder="***" formControlName="NewPassword" />
        
    </div>   
    </form>
    <div class="text-end mt-5">
      <button type="button" (click)="updatePassword()" class="btn btn-change">
        Şifre Güncelle
      </button>
    </div>

  </div>
  <!-- <script>
function myFunction() {
  var x = document.getElementById("OldPassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

  </script> -->